<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/links') %>
    <title></title>
</head>
<body>
  <%- include('./partials/main') %>
</body>
    <script type="module" src="js.js"></script>

</html>